/* 기존 스타일... */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.intro-anchor {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}
.intro-anchor:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 2px;
  background: white;
  margin-right: 10px;
  vertical-align: middle;
}

.radial-lines {
  position: absolute;
  top: 52%;
  left: 100%;
  width: 300px;
  height: 300px;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.radial-lines div {
  width: 2px;
  height: 50px;
  background: white;
  margin: 2px;
  opacity: 0.7;
  animation: rotate 2s linear infinite;
}

.intro .animated-text {
    animation: fadeIn 1s ease-out;
}

#navigation {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li {
    margin: 10px 0;
    margin-right: 10px;
}

#navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Noto Sans KR', 'Merriweather', serif;
    font-size: 1.2rem;
    transition: color 0.3s;
}

#navigation ul li a.active {
    color: #ccc; /* 강조 색상 */
    font-size: 1.5rem;
}

#navigation ul li a:hover {
    color: #b3c3ff;
}

/* 기존 스타일... */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  text-align: center;
  position: relative;
}

.container img {
    width: 150px;
    height: 150px;
}

.column {
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-column {
    flex: 1;
    background-color: #fff;
}

.right-column {
    flex: 2;
    background-color: #fff;
}


/* Existing styles... */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR', 'Merriweather', serif; /* 폰트 변경 */
    font-size: 16px;
    background: linear-gradient(to bottom right, #0d47a1, #0a39a1);
    color: #fff;
    overflow: hidden; /* Disable scrolling initially */
}

header {
    background-color: transparent; /* Deep sky blue */
    color: white;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans KR', 'Merriweather', serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s ease; /* Transition 설정 */
}

header.hidden {
    transform: translateY(-100%); /* 헤더를 위로 이동 */
    opacity: 0; /* 헤더를 투명하게 */
}

#header-text {
    display: block;
    font-size: 1.2em;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    display: block; /* 기본적으로 보이도록 변경 */
    transform: translateY(100%); /* 처음에는 화면 아래에 위치 */
    opacity: 0; /* 처음에는 투명하게 설정 */
    transition: all 0.5s ease; /* 전환 효과 */
    z-index: 1000;
}

footer.visible {
    transform: translateY(0); /* 화면 안으로 이동 */
    opacity: 1; /* 불투명하게 설정 */
}


.section {
    text-align: center;
    height: 100vh; /* 모든 섹션의 높이를 100vh로 설정 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    flex-direction: column; /* Ensure vertical alignment */
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Fade-in effect */
}

.section.active {
    opacity: 1; /* Show when active */
}

#intro-section {
    opacity: 1; /* Intro 섹션을 항상 보이도록 설정 */
}
.intro h1 {
  font-size: 5rem;
}

.envelope {
  width: 22vw;
  background-color: transparent;
  position: relative;
  margin: 10px auto;

  border-radius: 5px;
  padding: 10px;
}

.envelope p {
  font-size: 16px; /* 글자 크기 */
  line-height: 1.5; /* 줄 간격 */
  color: #fff; /* 글자 색상 */
}

.envelope h3 {
  line-height: 1.5; /* 줄 간격 */
  color: #fff; /* 글자 색상 */
}

#animated-message h2 {
    font-size: 2em;
    color: #fff;
    font-family: 'Noto Sans KR', 'Merriweather', serif;
    margin: 20px;
    white-space: pre-wrap; /* Preserve whitespace */
}

.fp-tableCell {
  padding-bottom: 0px; /* 각 섹션별 내부 컨텐츠 위치 조정 */
}


button {
    background-color: #fff;
    color: #0d47a1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 1.4rem;
    font-weight: 800;
}
button:hover {
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.animated-circle {
  position: absolute;
  top: 55%;
  left: 0%;
  width: 30%;
  height: 110%;
  transform: translateY(-50%);
}
.svg {
  width: 100%;
  height: 100%;
}
.circle {
  fill: none;
  stroke: white;
  stroke-width: 2;
  opacity: 0.7;
  animation: rotate 10s linear infinite;
}
.circle:nth-child(1) {
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: dash 2s ease-in-out infinite, rotate 6s linear infinite;
}
.circle:nth-child(2) {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  animation: dash 4s ease-in-out infinite, rotate 12s linear infinite reverse;
}
.circle:nth-child(3) {
  stroke-dasharray: 471;
  stroke-dashoffset: 471;
  animation: dash 6s ease-in-out infinite, rotate 18s linear infinite;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 471;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
